/* AdminGiris.css */

.admin-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  padding-top: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #829cb1;
}

.admin-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.admin-container div {
  margin-bottom: 35px;
}

.admin-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.admin-container input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.admin-container button {
  width: 100%;
  padding: 10px 20px;
  background-color:  #518284; 
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-container button:hover {
  background-color: #0056b3;
}

.admin-container .error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 10px;
}
