/* Magaza.css */

.magaza-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
}

.magaza-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.urun-listesi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Updated: Adjusted to space around items */
  gap: 20px;
  max-width: 1200px; /* Maksimum genişlik ayarı */
  width: 100%; /* Tam genişlik almasını sağlar */
  padding: 0 20px; /* Kenar boşlukları */
}

.urun-karti {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 400px;
  text-align: center;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
  box-sizing: border-box; /* Ensures padding and border do not affect the width */
}

.urun-karti:hover {
  transform: scale(1.05);
}

.urun-resim {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.urun-karti h2 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #333;
}

.urun-karti p {
  margin: 5px 0;
  color: #555;
}

.adet-kontrol {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.adet-kontrol button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}

.adet-kontrol button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.adet-kontrol span {
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
}

.beden-secim {
  margin: 10px 0;
}

.beden-secim label {
  font-size: 16px;
  color: #333;
}

.beden-secim select {
  padding: 5px;
  font-size: 16px;
}

.sepete-ekle-btn {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px 0;
  transition: background-color 0.3s ease;
}

.sepete-ekle-btn:hover {
  background-color: #e64a19;
}
