.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #8fcbbd; /* Soft bir gri tonu */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-logo {
    display: flex;
    align-items: center;
  }
  
  .nav-logo img {
    height: 50px; /* Örneğin, logo yüksekliği */
    margin-right: 10px;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    margin-right: 10px;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #f2f2f2;
  }
  
  .nav-link img {
    height: 40px; /* Örneğin, sepet simgesi yüksekliği */
  }
  
  .nav-cart-count {
    background-color: #ff4500;
    color: #ffffff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-left: 5px;
  }
  